footer{
    text-align: center;
    margin-bottom: 2%;
     position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}
.text-about{
    text-align: center;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
@media (max-width: 768px) {
  .text-about{
    text-align: center;
    font-size: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
}