.loading {
  text-align: center;
  padding: 50px;
}

.news-item {
    margin-top: 20px;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
}

.news-item h2 {
  margin-bottom: 15px;
}

.news-item p {
  line-height: 1.6;
  margin: 15px 0;
}

.alert {
  margin: 20px 0;
  padding: 15px;
  border-radius: 5px;
}
ul {
    list-style-type: none;
    padding: 0;
    margin: 5%;
}