html {
 scrollbar-width: none;
}
.dark{
    background-color: #050D17;
    color: aliceblue;
}
.light{
    background-color: aliceblue;
}
.text-news{
    text-align: left;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.main{
    list-style-type: none;
    padding: 0;
    margin: 5%;
}
.text-title{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h2{
    text-align: left;
    font-weight: bold;
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}